<a href="javascript:(() => {$(window).scrollTop(0); return void(0)}) ()" class="to-top btn btn-default" title="Back to top" data-scroll="" style="display: none;"><i class="fa fa-arrow-up fa-2x"></i></a>
