<h4>Floating Navbar</h4>
<form class="form-horizontal" id="settings_plugin_floatingnavbar_form">
	<div class="row-fluid">
		<div class="input-append span3">
			<label for="buffer_size">Height Buffer</label>
			<input class="input-mini text-right" type="number" id="buffer_size" data-bind="value: settingsViewModel.settings.plugins.floatingnavbar.buffer_size"/>
			<div class="add-on">
				<span class="input-group-text" id="basic-addon2">px</span>
			</div>
		</div>
	</div>
</form>
