<a href="javascript:void(0)" class="to-top btn btn-default" title="Back to top" data-scroll="" style="display: none;" data-bind="click: $(window).scrollTop(0)"><i class="fa fa-arrow-up fa-2x"></i></a>
